$colors: #FFCCCC #FF6666 #99CC66 #FF9900 #0000CC #CC99CC;

.home {
  height: 100%;
  // display: flex;
  // justify-content: center;
  // position: relative;
  ::after {
    content: '';
    clear: both;
  }
}

.aside {
  width: 320px;
  height: 100%;
  float: left;
  background: #ffffff;
  :global {
    .pic {
      text-align: center;
      padding: 20px 0 40px 0;
      border-bottom: 1px solid #000000;
       > img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
       }
    }
    section {
      padding-left: 24px;
      margin-top: 8px;
      ul {
        list-style: none;
        padding-left: 24px;
        font-size: 18px;
      }
    }
  }
}
.container {
  background: #f0f2f5;
  width: 100%;
  height: 100%;
  margin-left: 320px;
  align-self: center;
  position: relative;
}
.links {
  width: 400px;
  list-style: none;
  padding: 24px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  > li {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    display: inline-block;
    margin-right: 24px;
    margin-top: 24px;
    a {
      font-size: 24px;
      text-decoration: none;
    }
  }
  @for $i from 1 through length($colors) {
    .link#{$i} {
      padding: 0 16px;
      &:hover {
        background: nth($colors, $i);
        color: #ffffff
      }
    }
  }
}
footer {
  position: absolute;
  padding: 24px;
  bottom: 0;
  left: 0;
  right: 0;
}

.info {
  font-size: 14px;
  :global {
    .name {
      margin-top: 8px;
      font-size: 36px;
      height: 48px;
      line-height: 48px;
    }
    .item {
      height: 24px;
      line-height: 24px;
    }
  }
}
